<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hipotecas-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <input type="text" value={{data.a}} disabled></input>
    <input id="inputb" type="text" on-change="updateb" value={{data.b}}></input>
    <br>
    <button id="myButton">Click Me</button>
  </template>

  <script>
    /**
     * `hipotecas-element`
     * demo componente visual
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HipotecasElement extends Polymer.Element {
      static get is() { return 'hipotecas-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hipotecas-element',
            reflectToAttribute: true
          },
          data: {
            type: Object,
            value: {a:"value1", b:"value2"},
            reflectToAttribute: true,
            notify: true
          }
        };
      }
      ready() {
        super.ready();
        this.$.myButton.addEventListener('click', e => {this._handleClick(e)});
      }
      _handleClick(e) {
        console.info(e.target.id + ' was clicked.');
        this.dispatchEvent(new CustomEvent('kick', {detail: this.data}));
      }
      get datat() {
        return this.data;
      }
      set datat(a) {
        this.data = a;
      }
      updateb(){
        this.data.b= this.$.inputb.value
      }
    }

    window.customElements.define(HipotecasElement.is, HipotecasElement);
  </script>
</dom-module>
